@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Noto Sans TC Thin'), local('NotoSansTC-Thin'), url(../-nFlOG829Oofr2wohFbTp9i9WxEsK_E.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Noto Sans TC Light'), local('NotoSansTC-Light'), url(../-nFkOG829Oofr2wohFbTp9i9kwMfKNdX.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans TC Regular'), local('NotoSansTC-Regular'), url(../-nF7OG829Oofr2wohFbTp9i1HCEJ.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Noto Sans TC Medium'), local('NotoSansTC-Medium'), url(../-nFkOG829Oofr2wohFbTp9i9ywIfKNdX.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans TC Bold'), local('NotoSansTC-Bold'), url(../-nFkOG829Oofr2wohFbTp9i9gwQfKNdX.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Noto Sans TC Black'), local('NotoSansTC-Black'), url(../-nFkOG829Oofr2wohFbTp9i9uwYfKNdX.otf) format('opentype');
}
