<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- Primary Meta Tags -->
  <title>Ad Tag Previewer</title>
  <!-- let bootstrap mobile work -->
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="_KVbcXSdDrOFWWY0t6EqNWwLUX5E0S9imEIhCenUZYE" />
  <meta name="title" content="Ad Tag Previewer">
  <meta name="description"
    content="Get the permanent preview link never get expired for free. By using a link, you can manipulate all ad spaces on a website. Just paste your Ad tag code & the URL of your designated website! A useful tool and alternative to Google Ad Manager preview. ">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://scrape.under-aged.ga/">
  <meta property="og:title" content="Ad Tag Previewer">
  <meta property="og:description"
    content="Get the permanent preview link never get expired for free. By using a link, you can manipulate all ad spaces on a website. Just paste your Ad tag code & the URL of your designated website! A useful tool and alternative to Google Ad Manager preview. ">
  <meta property="og:image" content="http://scrape.under-aged.ga/public/images/logo_alter.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="http://scrape.under-aged.ga/">
  <meta property="twitter:title" content="Ad Tag Previewer">
  <meta property="twitter:description"
    content="Get the permanent preview link never get expired for free. By using a link, you can manipulate all ad spaces on a website. Just paste your Ad tag code & the URL of your designated website! A useful tool and alternative to Google Ad Manager preview. ">
  <meta property="twitter:image" content="http://scrape.under-aged.ga/public/images/logo_alter.png">
  <!-- https://support.google.com/webmasters/answer/9290858?hl=zh-Hant -->
  <link rel='shortcut icon' href='public/images/favicon.png'>
  <!-- <link rel="shortcut icon" href="public/favicon.ico" /> -->
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LcAxLkZAAAAAB85CeiSesL9bBUl9K9rV4aRgLl4"></script> -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132057673-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-132057673-2');
  </script>

</head>

<body class="">
