<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- let bootstrap mobile work -->
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="First, paste the URL of your designated website. Second, paste the ad tag code and select the format. And click to button to start. Then click the button for your custom mockup site!" />
  <meta name="google-site-verification" content="_KVbcXSdDrOFWWY0t6EqNWwLUX5E0S9imEIhCenUZYE" />
  <title>Ad Tag Previewer</title>
  <link rel='shortcut icon' type='image/x-icon' href='public/images/favicon.png' />
  <!-- <link rel="shortcut icon" href="public/favicon.ico" /> -->
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <script src="https://www.google.com/recaptcha/api.js?render=6LcAxLkZAAAAAB85CeiSesL9bBUl9K9rV4aRgLl4"></script> -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132057673-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-132057673-2');
  </script>

</head>

<body class="">
