<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- let bootstrap mobile work -->
  <meta name="viewport" content="width=device-width">
  <title>Ad Tag Previewer</title>
  <link rel='shortcut icon' type='image/x-icon' href='public/images/favicon.png'/>
  <!-- <link rel="shortcut icon" href="public/favicon.ico" /> -->
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="google-site-verification" content="_KVbcXSdDrOFWWY0t6EqNWwLUX5E0S9imEIhCenUZYE" />
</head>
<body class="">
