<%- include("header"); -%>


<form class="form-signin container" action="/" method="post" style="margin-top:20%; max-width:330px">
  <h1 class="h3 mb-3 font-weight-normal">Website scraper</h1>
  <label for="inputEmail" class="sr-only">輸入網址</label>
  <textarea type="email" id="inputEmail" class="form-control" name="siteUrl" placeholder="Url" required="" autofocus=""></textarea>
  <div class="checkbox mb-3">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">開始下載</button>
  <a target="_blank"  href="<%= prevSite %>"><%= prevSite %></a>
  <p class="mt-5 mb-3 text-muted">© 2019</p>

</form>


<%- include("footer"); -%>
