<%- include("header"); -%>


<div class="container">
  <div class="" style="height:100px">
  </div>
  <div class="row align-items-center">
    <div class="col-md-6 col-lg-4 col-sm-8 justify-content-md-center offset-md-3 offset-lg-4 offset-sm-2">
      <form class="" action="/" method="post" style="">
        <h1 class="h3 mb-3 font-weight-normal">Website scraper</h1>
        <label for="inputEmail" class="sr-only">輸入網址</label>
        <textarea type="email" id="inputEmail" class="form-control" name="siteUrl" pattern="https://.*" placeholder="Url" required="" autofocus=""></textarea>

        <div class="checkbox mb-3">
          <input type="checkbox" class="form-check-input" id="onlyScrapeCheck" name="notBubble" value="true">
          <label class="form-check-label" for="onlyScrapeCheck">onlyScrape</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">開始下載</button>
        <a class="btn btn-lg btn-success btn-block" target="_blank" href="<%= preSiteUrl %>"><%= prevSite %></a>
        <p class="mt-5 mb-3 text-muted">© 2019</p>
      </form>
    </div>
  </div>
  <div class="" style="height:100px">
  </div>
</div>


<%- include("footer"); -%>
