.footer_container
{
	width:100%;
	background-color:#f0f0f0;
	margin:0 auto;
}

.footer_adjust_size
{
	width:1024px; /* havent set yet will change */
	margin:0 auto;
}

.footer_lanmu
{
	width: 80%;
	text-align: center;
	font-size: 26px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer_social
{
	display:inline-block;
	width:60%;
	margin:0 auto;
	text-align:left;
	float:left;
}

.footer_app
{
	display:inline-block;
	width:40%;
	margin:0 auto;
	text-align:left;
	float:left;
}

.footer_title
{
	color:red;
	font-weight:bold;
	font-size:20px;
}

.footer_title, .footer_title:hover
{
	text-decoration:none;
	color:red;
}

.footer_app img
{
	width:45%;
}

.footer_lanmu_title, .footer_lanmu_title:hover
{
	padding-right:20px;
	text-decoration:none;
	color:black;
}

.footer_social_app a, .footer_social_app a:hover
{
	text-decoration:none;
	outline:none;
	padding-right:10px;
	color: #cd2026;
}

.footer_middle_link, .footer_middle_link:hover
{
	text-decoration:none;
	color:black;
}

.footer_middle_first, .footer_middle_second, .footer_middle_third, .footer_middle_fourth
{
	display:inline-block;
	width:16%;
	padding-right:1%;
	vertical-align:top;
	text-align:left;
}

.footer_middle_logo
{
	display:inline-block;
	width:32%;
	padding-right:1%;
	vertical-align:top;
	text-align:center;
	margin:0 auto;
}
