.subhomepage_3blocks_main{
	text-align:left;min-height:550px;
}
			
.subhomepage_3blocks_submain{
	float:left;width:320px;margin-left:15px;
}
			
 hr.subhomepage_3blocks_hr{
	margin-top: 0px;margin-bottom:8px;important;border: 0;border-top: 2px solid #ff0000;clear:both;
}

hr.subhomepage_3blocks_sub_hr{
	margin-top: 8px; margin-bottom:5px; important;border: 0;border-top: 1px solid #ccc;clear:both;
}			
			
a.article_url{
	text-decoration:none !important; color:#000000;
}
				
.subhomepage_3blocks_article_title_image{
	font-size:20px;line-height:24px;padding-top:10px;padding-bottom:5px;font-weight:bold;height:60px;
}
			
.subhomepage_3blocks_article_title_noimage{
	font-size:14px;line-height:18px;padding-top:8px;padding-bottom:5px;
}