.hasFav {
  width: 60px;
  height: 17px;
  background: url("newsave.png") no-repeat center;
  background-size: 100% 100%;
  vertical-align: top;
}

.hasFav.active {
  background: url("newsaved.png") no-repeat center;
  background-size: 100% 100%;
}

.hasFav_des {
  display: inline-block;
  height: 42px;
  line-height: 42px;
}
