@charset "utf-8";
/* CSS Document */
body {
	color: #222;
	font: normal 100%;/*頁面默認大小的100%，即16px，1rem*/
	line-height: 1.6rem;
	background: #f7f7f7;
	}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

abbr, span.abbr{border-bottom: none;}
.clear{clear:both; height: 0;}
.hide{position: absolute; top: -9999px; left: -9999px; overflow: hidden;}
.hidetext {text-indent: 100%;white-space: nowrap;overflow: hidden;}

.content {
	width: 1260px;
	margin: 0 auto;
	/*position: relative;*/
}
section {
  width: 940px;
  height: auto;
  float: left;
  margin:15px 20px 0 0;
}
article {
  width: 940px;
  margin-bottom: 20px;
}

aside {
    width: 300px; float:right;margin:15px 0px 30px;
}

.img_hover {
    opacity: 1.0;
    filter: alpha(opacity=100);/*針對IE8以及更早的版本*/
}
.img_hover:hover {
	opacity: 0.8;
    filter: alpha(opacity=80);/*針對IE8以及更早的版本*/
	transition: .15s linear;
}
/******/

/************** header **************/
.blake {height:102px;overflow: hidden;}/*巨橫幅用*/

/************** 左邊內容 **************/
/***** 快訊 *****/
#marquee{width: 940px;height:46px;background-color:#fff; border: 1px dotted #c01920;position: relative;overflow: hidden;margin:0px 0px 15px;}
#marquee:before{content:"快訊";z-index:50;position:absolute;top:10px;left:7px;color:#fff;font-weight:700;text-shadow:rgba(0, 0, 0, 0.5) 0px 1px 1px;}
#marquee:after{content:"";display:inline-block;width:62px;height:46px;background: url(extra_bg.png) no-repeat;position:absolute;top:0;left:0;}
.marqueebox{width:90%;overflow:hidden;display:inline-block;}
.marqueebox ul li{height:46px;line-height:46px;padding-left:70px; font-family:'NSTC', sans-serif; letter-spacing:0.05rem;}
.marqueebox ul li a{font-size:1.563rem;color:#c00;}
.marqueebox ul li a:hover{color:#000;}
.marqueebox ul li span{float:right;color:#999;}
#marquee .up, #marquee .down{float:right;display:inline-block;width:26px;color:#c00;text-align:center;line-height:43px;margin:0px 10px 0px 0px; cursor: pointer;}
#marquee .up img{transform:rotate(180deg);}
/******/
@font-face {
    font-family: 'NSTC';
    font-style: normal;
    font-weight: normal;
    src: url(../NotoSansTC-Regular.woff2) format('woff2'),
       url(../NotoSansTC-Regular.woff) format('woff'),
       url(../NotoSansTC-Regular.otf) format('opentype');
}

/***** 專題Banner：內頁用 *****/
.topic_now {
	width: 940px;
	margin-bottom: 20px;
}
/**/


/************** 右邊內容 **************/
/*日期*/
.date {
	width: 300px;
	height: 40px;
	font-size: 0.875rem;/*14px*/
	color: #555;
	text-align: center;
	/*line-height: 46px;
	margin-bottom: 15px;*/
}
/*注目新聞*/
.pointnews {
	width: 300px;
	background-color: #fff;
	box-shadow: 0px 1px 5px #ddd;
	margin: 15px 0px;
	padding: 15px 18px 6px 18px;
}

.w300_tit {
	font-size: 1.125rem;/*18px*/
	color: #222;
	font-weight: bold;
	/*padding-bottom: 15px;*/
	cursor: pointer;
}
.pointnews .tabs_bg {
	background: url(label_bg2.png) no-repeat left bottom;
	width: 8px;
	height: 30px;
	float: left;
}
.pointnews ul.tabs {
	margin-left: 3px;
}
.pointnews ul.tabs li {
	float: left;
	overflow: hidden;
	position: relative;
	margin-bottom: -1px; /*讓li往下移來遮住ul的部份border-bottom*/
    border-top:1px solid #b9b9b9;
	border-right:1px solid #b9b9b9;
	border-left:1px solid #b9b9b9;
	border-radius: 3px 3px 0 0;
	background: #fff;
	height: 30px;
}
.pointnews ul.tabs li a {
	font-size: 0.938rem;/*15px*/
	color: #222;
	font-weight: bold;
	padding: 3px 8px;
	float: left;
}
.pointnews ul.tabs li a:hover {
	background: #eee;
	color: #222;
}
.pointnews ul.tabs li.active  {
	background: #e8ae2b;
	font-size: 0.938rem;/*15px*/
	color: #fff;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
	border-top:1px solid #e8ae2b;
	border-right:1px solid #e8ae2b;
	border-left:1px solid #e8ae2b;
}
.pointnews ul.tabs li.active a {
	color: #fff;
}
.pointnews ul.tabs li.active a:hover {
	background: #e8ae2b;
}
.pointnews div.tab_container {
	clear: left;
	width: 100%;
	background-color: #fff;
	box-shadow: rgba(221, 221, 221, 0) 0px 1px 5px;
	border-top: 1px solid #b9b9b9;
}
.pointnews div.tab_container .tab_content {
	padding-top: 10px;
}

.pointnews div.tab_container .tab_content p a{
	font-size: 1rem;/*16px*/
	color: #222;
	text-indent: 0px;
}
.pointnews div.tab_container .tab_content p a:hover {
	color: #777;
}

.pointnews div.tab_container .tab_content .ranking {
	margin: 18px 8px 0px 0px;
	font-size: 1.875rem;/*30px*/
	color: #e8ae2b;
	font-weight: bold;
	float: left;
}
.pointnews div.tab_container .tab_content .li_bottom {
	height: 60px;
	display: table-cell;
	vertical-align: middle;}
/**/

/*熱門新訊*/
.market300_b {
	width: 300px;
	background-color: #fff;
	box-shadow: 0px 1px 5px #ddd;
	margin: 15px 0px;
	/*padding: 15px 18px 8px 18px;*/
}
.market300_tit_b {
	color: #fff;
	font-weight: bold;
	border-bottom: 1px solid #fff;
    padding: 0px 18px 0px 18px;
	transition: .2s linear;
	background: #e8ae2b;
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
	line-height: 40px;
}
.market300_tit_b a {
	font-size: 1.125rem;/*18px*/
	color: #fff;
	transition: .1s linear;
}
.market300_tit_b a:hover {
	color: #666;
	text-shadow: none;
}
.market300_tit_b > a.next_btn {
    border-color: transparent transparent transparent #fff;
    border-style: solid solid solid solid;
    border-width: 6px;
	position: relative;
	float: right;
	top: 14px;
	right: -8px;
    /* 設定 width、height 可更好理解原理 */
    height: 0px;
    width: 0px;
}
.market300_tit_b > a:hover.next_btn {
    border-color: transparent transparent transparent #777;
    border-style: solid solid solid solid;
    border-width: 6px;
	position: relative;
	float: right;
	top: 14px;
	right: 0px;
	transition: .15s linear;
    /* 設定 width、height 可更好理解原理 */
    height: 0px;
    width: 0px;
}
.market300_b ul {width:300px;padding:0px 18px 2px;}
.market300_b ul li {background:url(list_icon.png) no-repeat left 5px; padding-left:12px;margin: 8px 0px;}
.market300_b li a{
	font-size: 1rem;/*16px*/
	color: #222;
	padding: 0px;
	margin:0px;
}
.market300_b li a:hover {
	color: #777;
}

/*中英對照----中英對照：列表頁和內頁不用*/
.market300 {
	width: 300px;
	background-color: #fff;
	box-shadow: 0px 1px 5px #ddd;
	margin: 15px 0px;
	padding: 15px 18px 8px 18px;
}
.market300_tit {
	font-size: 1.125rem;/*18px*/
	color: #222;
	font-weight: bold;
	cursor: pointer;
	border-bottom: 1px solid #d3d3d3;
    padding-bottom: 3px;
}
.market300_tit > a.next_btn {
    border-color: transparent transparent transparent #7f6b3e;
    border-style: solid solid solid solid;
    border-width: 6px;
	position: relative;
	float: right;
	top: 8px;
	right: -8px;
    /* 設定 width、height 可更好理解原理 */
    height: 0px;
    width: 0px;
}
.market300_tit > a:hover.next_btn {
    border-color: transparent transparent transparent #777;
    border-style: solid solid solid solid;
    border-width: 6px;
	position: relative;
	float: right;
	top: 8px;
	right: 0px;
	transition: .15s linear;
    /* 設定 width、height 可更好理解原理 */
    height: 0px;
    width: 0px;
}
.market300_tit a{color:#222; transition: .1s linear;}
.market300_tit a:hover {	color: #666;}
.market300 ul {
	list-style-image:url(list_icon.png);
	padding: 8px 0px 0px 8px;
}
.market300 ul li {
	margin: 8px 0px;
	text-indent: 0px
}
.market300 li a{
	font-size: 1rem;/*16px*/
	color: #222;
	padding: 0px;
	margin:0px;
}
.market300 li a:hover {
	color: #777;
}
/*FB用*/
.fb-like-box{margin:0px auto 15px;}
/*每周油價：列表頁和內頁不用*/

/*統一發票：列表頁和內頁不用*/

/*今日天氣：列表頁和內頁不用*/

/*關鍵字：列表頁不用*/
.hot_tag {
	width: 300px;
	margin:15px 0px;
	background-color: #fff;
	box-shadow: 0px 1px 5px #ddd;
}
.hottag_tit {
	font-size: 1.125rem;/*18px*/
	color: #222;
	font-weight: bold;
	border-bottom: 1px solid #d3d3d3;
	padding: 15px 0px 3px 0px;
	width: 264px;
	margin: 0 auto;
}
/**/

/*A好康：列表頁和內頁不用*/
/******/
/* *********************** 除首頁的共用 *********************** */
center{width:100%;display:block;margin:0;overflow:hidden;}
/* 麵包屑：高度同快訊46px */
.breadcrumbs{width:940px;height:40px;margin:0px;}
.breadcrumbs a{color:#222;}
.breadcrumbs a:hover{color:#777;}
/* 標題 */
.caption{width:940px;font-size:30px;height:32px;/*line-height:40px;*/font-weight:800;clear:both;}
/* 940白框 */
.whitecon{float:left;width:940px;background-color:#fff;box-shadow: 0px 1px 5px #ddd;margin-bottom: 20px;}
/*ad巨橫幅*/
#ad-K1 { text-align:center;margin:0 auto;}
#ad-K1 > div{padding:15px 0 0;}
/*內文網友回應置中*/
.fb-comments{width:100%;text-align:center;}
#ad-K2{margin:0px auto 20px;}/*內文頁相關新聞下的廣告*/
#ad-P1{width:100%; text-align:center;}/*財經內頁廣告置中ad_P1*/
/*aside ad*/
.NC1{width:300px;}/*300*100*/
.NC3{width:300px; height:250px;}/*300*250 yes123內廣*/
.C2{margin-bottom:10px;}
#ad-BD2{margin:0px auto 15px;}/*ad_300*600*/
.tab_container #tab7, .tab_container #tab8{display:none;}/*注目新聞沒有切頁時用*/
