#fenixbox-overlay{ /*黑底*/
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
background:black;
color:#ffffff; z-index:999;
}

#fenixbox{ /*圖邊框*/
position:fixed; z-index:1000;
background:#fff;
border:6px solid #fff; border-bottom-width:1px;
border-radius:4px;
}
.fenixbox{
cursor:pointer;
}
.fenixbox-loader{
position:fixed;
top:0;
left:0;
}
.fenixbox-exit{ /*X*/
position:absolute; right:-45px;top:-5px; cursor:pointer;color:#fff; width:35px; height:35px;
}
.fa-times-circle:before{font-size:35px;vertical-align:top;opacity:0.6;}
.fa-times-circle:hover:before{opacity:1;}
.fenixbox-title{ /*圖說*/
position:absolute;
bottom:6px;
left:0;
background:rgba(0,0,0,0.6);
color:#ffffff;
/*font-weight:bold;*/
font-size:18px; line-height:23px;padding:6px 10px;
}
